<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcyh.user.mapper.UserFollowMapper">

    <select id="selectFollowListByUserId" resultType="com.tcyh.user.entity.UserFollow">
        SELECT * FROM user_follow WHERE user_id = #{userId} AND status = 1 ORDER BY create_time DESC
    </select>

    <select id="selectFansListByUserId" resultType="com.tcyh.user.entity.UserFollow">
        SELECT * FROM user_follow WHERE followed_user_id = #{userId} AND status = 1 ORDER BY create_time DESC
    </select>

    <select id="selectFollowRelation" resultType="com.tcyh.user.entity.UserFollow">
        SELECT * FROM user_follow WHERE user_id = #{userId} AND followed_user_id = #{followedUserId}
    </select>

    <select id="countFollowByUserId" resultType="java.lang.Long">
        SELECT COUNT(*) FROM user_follow WHERE user_id = #{userId} AND status = 1
    </select>

    <select id="countFansByUserId" resultType="java.lang.Long">
        SELECT COUNT(*) FROM user_follow WHERE followed_user_id = #{userId} AND status = 1
    </select>

</mapper>
